@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");

:root {
  --background-main: #e5e5e5;
  --background-header: #292929;
  --background-banner-location: #14100c;
  --laranja-destaque: #f8af35;
  --amarelo-separador-banner: #ffd413;
  --white: #ffffff;
  --black: #000000;
  --font-texto: "Bebas Neue", sans serif;
  --font-btn-titles: "Rubik Spray Paint", sans-serif;
  --font--main: "Sigmar", sans-serif;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-header);
  color: var(--white);
  padding: 10px 20px;
  font-family: var(--font--main);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.logo__imagem {
  width: 80px;
  height: 80px;
}

.logo__descricao {
  font-size: 2rem;
}

.logo__palavra-destaque {
  color: var(--laranja-destaque);
}

.nav__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin-right: 4rem;
  font-size: 1.4rem;
}

.nav__menu-item .nav__menu-link {
  padding: 10px;
}

.button__link-destaque {
  background-color: var(--laranja-destaque);
  color: var(--white);
  font-family: var(--font-btn-titles);
  font-size: inherit;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  transition: all 0.4s;
}

.button__link-destaque:hover {
  transform: scale(1.08);
}

.banner__container {
  background-color: var(--background-banner-location);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.banner__container-textos {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-left: 10rem;
}

.banner__titulo {
  font-family: var(--font--main);
  color: var(--white);
  font-size: 3rem;
  letter-spacing: 3px;
  line-height: 3.5rem;
  text-transform: uppercase;
}

.banner__linha-divisoria {
  width: 50%;
  height: 5px;
  background-color: var(--amarelo-separador-banner);
  border-radius: 10px;
  margin: 20px 0;
}

.banner__texto-descricao {
  font-family: var(--font-texto);
  font-size: 2rem;
  color: var(--white);
  text-transform: uppercase;
  line-height: 2rem;
  margin-bottom: 10px;
}

.banner__imagem {
  width: 50%;
  margin-top: 100px;
}
